<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="./Assets/Bootstrap5/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="./Assets/css/base.css" />
        <link rel="stylesheet" href="./Assets/css/animation.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
        />
        <link rel="stylesheet" href="./Assets/css/style.css" />
        <script src="./Assets/Bootstrap5/js/bootstrap.min.js"></script>
        <script src="./Assets/js/main.js"></script>
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
        ></script>
        <script
            type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.4.0/remixicon.css"
            integrity="sha512-hH7VMMVfPgfkpYx2GazOEG6RrYM+y8cS7FzccwBTWQeyhPv01XYk0MVcuhh4EAimOELWvqKjhNwes/UsYoyN6w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!-- Slick CSS -->
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"
        />

        <!-- Slick JS -->
        <script src="https://cdn.jsdelivr.net/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        <style>
            .ri-close-line::before {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .huyDon:hover {
                filter: brightness(1.2);
            }

            .btn-t:hover {
                filter: brightness(1.3);
                border: 1px solid rgb(2, 186, 2) !important;
            }
        </style>
    </head>
    <body>
        <header class="header" style="z-index: 100">
            <div class="container-fluid" style="background: var(--bg-primary)">
                <div class="container">
                    <div class="row">
                        <div
                            class="navbar navbar-expand-sm"
                            style="margin-left: 4px; margin-top: 4px"
                        >
                            <div class="col-3">
                                <a href="#" class="navbar-brand text-white">
                                    <b style="color: #ffea09; font-size: 25px"
                                        >Organic Shop</b
                                    >
                                    <!-- <img src="./Assets/Images/logo2.png" style="width: 150px; height: 50px; object-fit: cover" alt="" /> -->
                                </a>
                            </div>

                            <form class="col-6 d-flex align-items-center">
                                <button
                                    type="submit"
                                    style="
                                        margin-right: -40px;
                                        border: none;
                                        background-color: transparent;
                                        z-index: 2;
                                    "
                                >
                                    <i
                                        class="ri-search-line fs-22-t"
                                        style="color: green"
                                    ></i>
                                </button>
                                <input
                                    type="search"
                                    class="form-control w-100 header-search"
                                    style="padding-left: 42px"
                                    placeholder="Bạn tìm gì ở nông sản xanh - nhóm 2"
                                />
                                <a
                                    href="#"
                                    class="nav-link text-white align-items-centers cart"
                                >
                                    <i
                                        class="ri-shopping-cart-line d-flex align-content-center justify-content-center"
                                    ></i>
                                    <span>3</span>
                                </a>
                            </form>

                            <div class="col-3">
                                <ul class="navbar-nav" style="float: right">
                                    <li class="nav-item">
                                        <a
                                            href="#"
                                            class="nav-link text-white location"
                                            style="padding-right: 3px"
                                        >
                                            <i
                                                class="ri-map-pin-line fs-17-t"
                                            ></i>
                                            <span>Địa chỉ:</span>
                                            <span
                                                class="fw-700"
                                                style="
                                                    margin-left: 4px;
                                                    color: rgb(255 255 255 / 1);
                                                "
                                                >Thành phố Hồ Chí Minh, P5,
                                                Q8</span
                                            >
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3" style="margin-left: -12px">
                            <div
                                class="d-flex align-items-center py-0 text-white bg-menu"
                                style="
                                    border-top-left-radius: 8px;
                                    border-top-right-radius: 8px;
                                    width: 300.5px;
                                "
                            >
                                <i
                                    class="ri-menu-line mx-2"
                                    style="font-size: 22px"
                                ></i>
                                <span class="text-uperc fw-500 fs-16-t"
                                    >Danh mục sản phẩm</span
                                >
                            </div>
                        </div>
                        <div class="col-7">
                            <div></div>
                        </div>
                        <div
                            class="col-2"
                            style="
                                padding-left: 0;
                                position: relative;
                                right: -24px;
                            "
                        >
                            <div class="float-end">
                                <div
                                    class="d-flex bg-menu text-white align-items-center text-center px-2"
                                    style="
                                        height: 33px;
                                        border-top-left-radius: 8px;
                                        border-top-right-radius: 8px;
                                    "
                                >
                                    <i
                                        class="ri-user-line"
                                        style="
                                            display: flex;
                                            font-size: 18px;
                                            align-items: center;
                                            justify-content: center;
                                            margin-bottom: -2px;
                                        "
                                    ></i>
                                    <a
                                        href="./login.html"
                                        class="d-block text-white"
                                        style="
                                            text-decoration: none;
                                            padding-left: 5px;
                                        "
                                        >Tài khoản của Thuận</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main
            class="container bg-white"
            style="
                margin-top: var(--header-height);
                width: 50%;
                min-height: 90vh;
            "
        >
            <div class="row">
                <div
                    class="d-flex align-items-center justify-content-center p-4"
                >
                    <img src="./Assets/Images/checked.png" alt="" />
                    <h3 class="text-success mb-0" style="margin-left: 8px">
                        Đặt hàng thành công
                    </h3>
                </div>
            </div>
            <div class="row p-3" style="padding-top: 0 !important">
                <div
                    style="
                        border-radius: 4px;
                        padding: 16px 24px;
                        background-color: #eceff7;
                    "
                >
                    <div class="d-flex align-items-center mb-2">
                        <div
                            style="
                                width: 120px;
                                margin-right: 14px;
                                color: #999;
                                font-weight: 500;
                                font-size: 17px;
                            "
                        >
                            Người nhận:
                        </div>
                        <span style="font-size: 17px">Anh Ngô Minh Thuận</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div
                            style="
                                width: 120px;
                                margin-right: 14px;
                                color: #999;
                                font-weight: 500;
                                font-size: 17px;
                            "
                        >
                            Số điện thoại:
                        </div>
                        <span style="font-size: 17px">0783363383</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div
                            style="
                                width: 120px;
                                margin-right: 14px;
                                color: #999;
                                font-weight: 500;
                                font-size: 17px;
                            "
                        >
                            Địa chỉ:
                        </div>
                        <span style="font-size: 17px"
                            >157/29/01 Bùi Minh Trực, Phường 5, Quận 8, Hồ Chí
                            Minh</span
                        >
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div
                            style="
                                width: 120px;
                                margin-right: 14px;
                                color: #999;
                                font-weight: 500;
                                font-size: 17px;
                            "
                        >
                            Giao lúc:
                        </div>
                        <span style="font-size: 17px"
                            >16H - 19H - Thứ Hai (18/11)</span
                        >
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div
                            style="
                                width: 120px;
                                margin-right: 14px;
                                color: #999;
                                font-weight: 500;
                                font-size: 17px;
                            "
                        >
                            Thanh toán:
                        </div>
                        <span style="font-size: 17px"
                            ><span class="fw-500">Tiền mặt</span> khi nhận
                            hàng</span
                        >
                    </div>
                    <div class="d-flex align-items-center">
                        <div
                            style="
                                width: 120px;
                                margin-right: 14px;
                                color: #999;
                                font-weight: 500;
                                font-size: 17px;
                            "
                        >
                            Tổng tiền:
                        </div>
                        <span style="font-size: 17px; font-weight: 500"
                            >667.000 VND</span
                        >
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div
                    class="d-flex align-items-center justify-content-center"
                    style="gap: 8px"
                >
                    <a
                        href=""
                        class="btn-t"
                        style="
                            width: 200px;
                            text-align: center;
                            text-decoration: none;
                            padding: 15px;
                            border: 1px solid green;
                            border-radius: 4px;
                            color: green;
                        "
                        >Tiếp thục mua hàng</a
                    >
                    <a
                        href=""
                        class="btn-t d-flex align-items-center"
                        style="
                            width: 220px;
                            text-align: center;
                            text-decoration: none;
                            padding: 6px;
                            border: 1px solid green;
                            border-radius: 4px;
                        "
                    >
                        <div class="px-2">
                            <img src="./Assets/Images/pencil1.png" alt="" />
                        </div>
                        <div
                            class="d-flex align-items-center"
                            style="flex-direction: column"
                        >
                            <span style="font-weight: 500; color: green"
                                >Xem / Sửa đơn hàng</span
                            >
                            <span style="color: #999; font-size: 13px"
                                >Thêm/bớt SP, Đổi địa chỉ...</span
                            >
                        </div></a
                    >
                </div>
                <a
                    class="d-flex align-items-center justify-content-center mt-3 huyDon"
                    style="gap: 8px; cursor: pointer; text-decoration: none"
                >
                    <i
                        class="ri-close-line"
                        style="
                            color: white;
                            width: 22px;
                            height: 22px;
                            background-color: #a7abb8;
                            border-radius: 50%;
                        "
                    ></i>
                    <span
                        style="
                            color: #a7abb8;
                            font-weight: 500;
                            font-size: 17px;
                        "
                        >Hủy đơn hàng</span
                    >
                </a>
            </div>
        </main>

        <script src="./Assets/js/Slick.js"></script>
    </body>
</html>
