<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./Assets/Bootstrap5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="./Assets/css/base.css" />
        <link rel="stylesheet" href="./Assets/css/animation.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
        <link rel="stylesheet" href="./Assets/css/style.css" />
        <script src="./Assets/Bootstrap5/js/bootstrap.min.js"></script>
        <script src="./Assets/js/main.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.4.0/remixicon.css"
            integrity="sha512-hH7VMMVfPgfkpYx2GazOEG6RrYM+y8cS7FzccwBTWQeyhPv01XYk0MVcuhh4EAimOELWvqKjhNwes/UsYoyN6w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!-- Slick CSS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />

        <!-- Slick JS -->
        <script src="https://cdn.jsdelivr.net/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

        <style>
            .info .action {
                color: green;
                font-weight: 500;
            }
            .info .nav-link {
                color: black;
                padding-left: 4px;
            }
            .list .nav-link {
                padding-left: 63px !important;
                padding-right: 63px !important;
                padding-bottom: 14px !important;
                padding-top: 5px !important;
            }

            .list .action {
                border-bottom: 2px solid green;
            }
        </style>
    </head>
    <body>
        <header class="header" style="z-index: 100">
            <div class="container-fluid" style="background: var(--bg-primary)">
                <div class="container">
                    <div class="row">
                        <div class="navbar navbar-expand-sm" style="margin-left: 4px; margin-top: 4px">
                            <div class="col-3">
                                <a href="#" class="navbar-brand text-white">
                                    <b style="color: #ffea09; font-size: 25px">Organic Shop</b>
                                    <!-- <img src="./Assets/Images/logo2.png" style="width: 150px; height: 50px; object-fit: cover" alt="" /> -->
                                </a>
                            </div>

                            <form class="col-6 d-flex align-items-center">
                                <button type="submit" style="margin-right: -40px; border: none; background-color: transparent; z-index: 2">
                                    <i class="ri-search-line fs-22-t" style="color: green"></i>
                                </button>
                                <input type="search" class="form-control w-100 header-search" style="padding-left: 42px" placeholder="Bạn tìm gì ở nông sản xanh - nhóm 2" />
                                <a href="#" class="nav-link text-white align-items-centers cart">
                                    <i class="ri-shopping-cart-line d-flex align-content-center justify-content-center"></i>
                                    <span>3</span>
                                </a>
                            </form>

                            <div class="col-3">
                                <ul class="navbar-nav" style="float: right">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link text-white location" style="padding-right: 3px">
                                            <i class="ri-map-pin-line fs-17-t"></i>
                                            <span>Địa chỉ:</span>
                                            <span class="fw-700" style="margin-left: 4px; color: rgb(255 255 255 / 1)">Thành phố Hồ Chí Minh, P5, Q8</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3" style="margin-left: -12px">
                            <div class="d-flex align-items-center py-0 text-white bg-menu" style="border-top-left-radius: 8px; border-top-right-radius: 8px; width: 300.5px; position: relative">
                                <i class="ri-menu-line mx-2" style="font-size: 22px"></i>
                                <span class="text-uperc fw-500 fs-16-t">Danh mục sản phẩm</span>
                                <div class="slide-menu" style="position: absolute; top: 100%; left: 0; width: 100%; z-index: 10; display: none">
                                    <ul class="nav flex-column bg-white" style="box-shadow: 0 60px 80px rgba(0, 0, 0, 0.6), 0 45px 26px rgba(0, 0, 0, 0.14)">
                                        <li class="nav-item">
                                            <a href="" class="nav-link border-b mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Rau, củ, quả</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link border-b mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Thịt, cá, trứng, hải sản</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link border-b mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Gạo, bột, đồ khô</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link border-b mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Dầu ăn, nước chấm, gia vị</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link border-b mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Kem, thực phẩm đông mát</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link border-b mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Rau, củ, quả</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link border-b mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Thịt, cá, trứng, hải sản</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link border-b mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Gạo, bột, đồ khô</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link border-b mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Kem, thực phẩm đông mát</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link border-b mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Rau, củ, quả</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link border-b mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Thịt, cá, trứng, hải sản</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link border-b mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Gạo, bột, đồ khô</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link border-b mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Gạo, bột, đồ khô</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link border-b mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Kem, thực phẩm đông mát</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="" class="nav-link mx-3 p-0 py-2 text-dark fw-500 text-uperc fs-14-t">Rau, củ, quả</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <div></div>
                        </div>
                        <div class="col-2" style="padding-left: 0; position: relative; right: -24px">
                            <div class="float-end">
                                <div class="d-flex bg-menu text-white align-items-center text-center px-2" style="height: 33px; border-top-left-radius: 8px; border-top-right-radius: 8px">
                                    <i class="ri-user-line" style="display: flex; font-size: 18px; align-items: center; justify-content: center; margin-bottom: -2px"></i>
                                    <a href="./login.html" class="d-block text-white" style="text-decoration: none; padding-left: 5px">Tài khoản của Thuận</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="container container-main" style="margin-top: var(--header-height)">
            <div class="row" style="background-color: #e9edef">
                <div class="col-3 mt-4">
                    <div class="d-flex align-items-center">
                        <div>
                            <img src="./Assets/Images/732846-min_202409261538246594.jpg" style="width: 48px; height: 48px; border-radius: 50%" alt="" />
                        </div>
                        <div style="padding-left: 10px">
                            <p class="mb-0 fw-500">Ngo Minh Thuan</p>
                            <a href="" style="text-decoration: none; color: #a1a0a0; font-weight: 500">
                                <i class="ri-pencil-line"></i>
                                <span>Sửa hồ sơ</span>
                            </a>
                        </div>
                    </div>
                    <div class="mt-4">
                        <ul class="nav flex-column info" style="margin-left: 0">
                            <li class="nav-item">
                                <a href="" class="nav-link"> <i class="ri-user-line" style="margin-right: 10px"></i><span class="action">Tài khoản của tôi</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link"><i class="ri-bill-line" style="margin-right: 10px"></i>Đơn mua</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link"><i class="ri-notification-2-line" style="margin-right: 10px"></i>Thông báo</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- don han mua -->
                <div class="col-9 mt-2">
                    <div
                        class="bg-white navbar navbar-expand-sm bg-light"
                        style="margin-left: -23px; margin-right: -12px; padding-bottom: 0 !important; box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px"
                    >
                        <ul class="navbar-nav list">
                            <li class="nav-item action" style="position: relative">
                                <a href="" class="nav-link">Tất cả</a>
                            </li>
                            <li class="nav-item" style="position: relative">
                                <a href="" class="nav-link">Đơn vừa đặt</a>
                            </li>
                            <li class="nav-item" style="position: relative">
                                <span style="position: absolute; top: 0; right: 40px; color: red">(1)</span>

                                <a href="" class="nav-link">Chờ giao hàng</a>
                            </li>
                            <li class="nav-item" style="position: relative">
                                <a href="" class="nav-link">Hoàn thành</a>
                            </li>
                            <li class="nav-item" style="position: relative">
                                <a href="" class="nav-link">Đã hủy</a>
                            </li>
                        </ul>
                    </div>

                    <form
                        class="row my-2"
                        style="margin-left: -23px; margin-right: -12px; position: relative; border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px"
                    >
                        <input
                            type="search"
                            placeholder="Bạn có thể tìm kiếm bằng cách nhập ID đơn hàng hoặc tên sản phẩm..."
                            style="width: 100%; border: none; padding: 8px; background-color: #eaeced; border-radius: 4px; padding-left: 60px !important; outline: none"
                        />
                        <button
                            style="
                                height: 98%;
                                background-color: #e6e6e6;
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                width: 60px;
                                color: white;
                                border: none;
                                background: transparent;
                                border-radius: 4px;
                                color: gray;
                            "
                        >
                            <i class="ri-search-line"></i>
                        </button>
                    </form>

                    <div class="bg-white row" style="margin-left: -23px; margin-right: -12px; box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px">
                        <div class="col-12 p-3" style="padding-bottom: 0 !important">Mã đơn hàng: 1242</div>
                        <div class="col-12 d-flex align-content-center justify-content-between p-3">
                            <div class="col-1">
                                <img src="./Assets/Images/325346-min_202411041319467195.jpg" style="width: 100%" alt="" />
                            </div>
                            <div class="col-9" style="padding-left: 10px">
                                <p>Quýt mini nhập khẩu Trung Quốc 1kg</p>
                                <p>x1</p>
                            </div>
                            <div class="col-2">
                                <p style="text-align: right">500k</p>
                            </div>
                        </div>
                        <div class="col-12 d-flex align-content-center justify-content-between p-3">
                            <div class="col-1">
                                <img src="./Assets/Images/325346-min_202411041319467195.jpg" style="width: 100%" alt="" />
                            </div>
                            <div class="col-9" style="padding-left: 10px">
                                <p>Quýt mini nhập khẩu Trung Quốc 1kg</p>
                                <p>x1</p>
                            </div>
                            <div class="col-2">
                                <p style="text-align: right">500k</p>
                            </div>
                        </div>
                        <div class="col-12 d-flex align-content-center justify-content-between p-3">
                            <div class="col-1">
                                <img src="./Assets/Images/325346-min_202411041319467195.jpg" style="width: 100%" alt="" />
                            </div>
                            <div class="col-9" style="padding-left: 10px">
                                <p>Quýt mini nhập khẩu Trung Quốc 1kg</p>
                                <p>x1</p>
                            </div>
                            <div class="col-2">
                                <p style="text-align: right">500k</p>
                            </div>
                        </div>
                        <div class="col-12 d-flex align-content-center justify-content-between p-3">
                            <div class="col-1">
                                <img src="./Assets/Images/325346-min_202411041319467195.jpg" style="width: 100%" alt="" />
                            </div>
                            <div class="col-9" style="padding-left: 10px">
                                <p>Quýt mini nhập khẩu Trung Quốc 1kg</p>
                                <p>x1</p>
                            </div>
                            <div class="col-2">
                                <p style="text-align: right">500k</p>
                            </div>
                        </div>
                        <div class="col-12" style="margin-bottom: 13px">
                            <hr style="color: #868686" />
                            <div class="float-end">
                                <a href="" class="btn" style="width: 150px; background: var(--bg-primary); border: 1px solid #4a9f43; color: white">Mua lại</a>
                                <a href="" class="btn" style="width: 180px; border: 1px solid #d4d4d4; color: #666; margin-left: 4px">Xem chi tiết hủy đơn</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ho so -->
                <!-- <div class="col-9 mt-2 bg-white">
                    <div class="col-12 p-3">
                        <p class="mb-0" style="font-size: 24px">Hồ sơ của tôi</p>
                        <p>Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
                        <hr style="color: #7a7979" />
                    </div>
                    <div class="col-12 d-flex">
                        <div class="col-5">
                            <img src="./Assets/Images/trai-cay-cac-loai-202210311314516525.png" style="border-radius: 100%; padding-left: 50px; width: 80%" alt="" />
                            <p class="text-center" style="color: rgba(85, 85, 85, 0.8)">Ảnh đại diện</p>
                        </div>
                        <div class="col-7" style="border-left: 1px solid #ccc; margin-bottom: 20px">
                            <div class="mt-5" style="margin-left: 40px; padding-bottom: 120px">
                                <div class="my-3 d-flex align-items-center">
                                    <label for="" style="width: 120px; color: rgba(85, 85, 85, 0.8)">Họ và tên</label>
                                    <span>Nguyen Van Teo</span>
                                </div>
                                <div class="my-3 d-flex align-items-center">
                                    <label for="" style="width: 120px; color: rgba(85, 85, 85, 0.8)">Email</label>
                                    <span>teo@mgail.com</span>
                                </div>
                                <div class="my-3 d-flex align-items-center">
                                    <label for="" style="width: 120px; color: rgba(85, 85, 85, 0.8)">Số điện thoại</label>
                                    <span>432875430</span>
                                </div>
                                <div class="my-3 d-flex align-items-center">
                                    <label for="" style="width: 120px; color: rgba(85, 85, 85, 0.8)">Địa chỉ</label>
                                    <span>fjad;sgfas;ogjdsga;dlkjgd</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="float-end" style="margin-bottom: 12px">
                            <a href="" class="btn btn-primary fw-500" style="border-radius: 3px">Trang chủ</a>
                            <a href="" class="btn btn-success fw-500" style="border-radius: 3px; margin-left: 4px">Sửa hồ sơ</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </main>
    </body>
</html>
